*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}
html{
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 100%;
    height: 100%;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: .5em;
    font-family: "Comic Sans MS", sans-serif, Verdana;

    -webkit-user-select: none; /* Safari */
    user-select: none;
    text-wrap: nowrap;

    h1{
    display: flex;
    align-items: center;

    font-size: clamp(1.4rem, 3vw, 3rem);
    }
    h3{
        font-size: clamp(1rem, 2.6vw, 2rem);
    }

    img{
    height: 1.2em; 
    border-radius: 5px;
    margin: 8px;
    }
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(.2rem, 1vw);

    #left, #right {
    display: flex;
    align-items: center;
    gap: min(.2rem, 1vw);
    }

    background-image: radial-gradient(circle,  rgb(62, 136, 227), rgb(38,87,145) );
    color: white;
    font-size: clamp(0.6em, 2.6vw, 1.5em);

    width: 100%; height: 2.3em;
    padding: 0 0.5em;
    margin: 0.5em 0;

    a, p{
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1px);
        color: white;
        padding: .2em;
        margin: .1em;

        border: 1px solid transparent;
        border-radius: 6px;

        transition: all .3s ease;
    }
    a:hover, p:hover{
        box-shadow: 0 0 5px rgb(19, 43, 72);
        background-color: rgba(255, 255, 255, 0.2);

        border: 1px solid white;
        border-radius: 6px;

        cursor: pointer;
    }
    #user, #services{
        position: relative;
    }
}

nav .dd{
    .check{
        display: none;
    }

    display: flex;
    flex-direction: column;
    visibility: hidden;

    position: absolute;
    right: 0;

    background-color: rgba(62, 136, 227, 0.6);
    backdrop-filter: blur(6px);
    border: 1px solid white;
    border-radius: 8px;

    opacity: 0;
    transition: opacity .4s ease;
    z-index: 10;

    .label{
        padding: .2em .5em;
    }
    .label:hover{
        backdrop-filter: brightness(0.9);
        cursor: pointer;
    }
    .label:active{
        backdrop-filter: brightness(0.8);
    }
}

nav #user:hover .dd{
    visibility: visible;
    opacity: 1;
}

/* footer */
footer{
    display: flex;
    align-items: center;

    background-color: rgb(38,87,145);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 40vh;

    gap: 1em;

    #address, #contacts, #logo{
        display: flex;
        flex-direction: column;
        justify-content: center;

        flex-grow: 1;
        padding: 2em;
    }

    #contacts p{
        text-wrap: nowrap;
    }

    hr{
        height: 90%;
        margin: 0;
    }
}
#copyright{
        text-align: center;
        font-family: sans-serif;
        padding: 4px;
        color: rgb(38,87,145);
    }

/* main content */
main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
#sliding-images{
    display: flex;
    width: 100%;
    background-color: rgb(16, 81, 161);
    padding: 1em 0;

    overflow-x: hidden;

    .group{        
        display: flex;
        justify-content: center;
        align-items: center;

        padding-left: 1.5em;
        gap: 1.5em;

        animation: spin 15s infinite linear;
        flex-shrink: 0;
    }
    .image{
        background-color: black;
        color: white;
        border-radius: 6px;
        height: 30vh;
        min-width: 40vw;

        text-align: center;
        align-content: center;

        flex: 1 0 20vw;
    }
}

@keyframes spin{
    from{ translate: 0;}
    to{ translate: -100%;}
}

.adv-container{
    height: 30vh;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
    
    background-color: rgba(48, 147, 209, 0.397);

    .adv{
    background-color: rgb(48, 147, 209);
    border-radius: 5px;

    height: 26vh;
    margin: 1em;
}
}

@media(max-width: 680px){
    footer{
        flex-direction: column;
        height: auto;
        hr{
        height: 0;
        width: 90%;
        margin: 0;
    }
    }
}